<!--<script src="navbar.component.ts"></script>-->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['home']">Home</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="authService.loggedIn()"><a [routerLink]="['dashboard']"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li *ngIf="authService.loggedIn()"><a [routerLink]="['brand']"><i class="fa fa-bitcoin"></i> Brand</a></li>
        <li *ngIf="authService.loggedIn()"><a [routerLink]="['category']"><i class="fa fa-th-list" aria-hidden="true"></i> Category</a></li>
        <li *ngIf="authService.loggedIn()"><a [routerLink]="['product']"><i class="fa fa-list-alt" aria-hidden="true"></i> Products</a></li>

        <li class="dropdown" *ngIf="authService.loggedIn()">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Orders <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a [routerLink]="['order']"> Add Orders</a>
              <a [routerLink]="['manageorder']">Manage Orders</a>
            </li>
          </ul>
        </li>

        <li *ngIf="authService.loggedIn()"><a [routerLink]="['contact']"><i class="fa fa-address-card" aria-hidden="true"></i> Contacts</a></li>

        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" *ngIf="!authService.loggedIn()"><a [routerLink]="['login']" >Login</a></li>
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" *ngIf="!authService.loggedIn()"><a [routerLink]="['register']">Register</a></li>
        <li class="dropdown" *ngIf="authService.loggedIn()">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admin <i class="fa fa-user"></i><span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a [routerLink]="['profile']">Profile</a></li>
            <li><a href="#">Action</a></li>
            <li class="divider"></li>
            <li><a (click)="onLogoutClick()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>


<!--<div class="layout-wrapper">

  <div id="g-sidebar">
    <div id="g-sidebar-1">
      <a class="logo">
        <span class="s1">

        </span>
      </a>

      <div class="sidebar-1-wrap">
        <a id="home_menutitle" #homemenutitle [class.active-menuitem]="homemenutitle.id == activeMenuId"
           (click)="goSideMenu2(homemenutitle)">
          <img src="../../../assets/icons/home-active.svg" class="layout-menu-icon-active"/>
          <img src="../../../assets/icons/home-inactive.svg" class="layout-menu-icon-inactive"/>
          <span>Home</span>
        </a>

        <a id="prod_menutitle" #prodmenutitle [class.active-menuitem]="prodmenutitle.id == activeMenuId"
           (click)="goSideMenu2(prodmenutitle)">
          <img src="../../../assets/icons/bag-active.svg" class="layout-menu-icon-active"/>
          <img src="../../../assets/icons/bag-inactive.svg" class="layout-menu-icon-inactive"/>
          <span>Products</span>
        </a>


        <a id="order_menutitle" #ordermenutitle [class.active-menuitem]="ordermenutitle.id == activeMenuId"
           (click)="goSideMenu2(ordermenutitle)">
          <img src="../../../assets/icons/order-active.svg" class="layout-menu-icon-active"/>
          <img src="../../../assets/icons/order-inactive.svg" class="layout-menu-icon-inactive"/>
          <span>Orders</span>
        </a>

        <a id="contact_menutitle" #contactmenutitle [class.active-menuitem]="contactmenutitle.id == activeMenuId"
           (click)="goSideMenu2(contactmenutitle)">
          <img src="../../../assets/icons/contact-active.svg" class="layout-menu-icon-active"/>
          <img src="../../../assets/icons/contact-inactive.svg" class="layout-menu-icon-inactive"/>
          <span>Clients</span>
        </a>

        <a id="data_menutitle" #datamenutitle [class.active-menuitem]="datamenutitle.id == activeMenuId"
           (click)="goSideMenu2(datamenutitle)">
          <img src="../../../assets/icons/data-active.svg" class="layout-menu-icon-active"/>
          <img src="../../../assets/icons/data-inactive.svg" class="layout-menu-icon-inactive"/>
          <span>Data</span>
        </a>


      </div>
    </div>


    <div id="g-sidebar-2">

      <div [ngClass]="{'submenushow': showSideBar2 , 'submenuhide': !showSideBar2}">
        <div class="g-sidebar-2-title">
          <div
            [ngClass]="{'submenushow': (prodmenutitle.id == activeMenuId) , 'submenuhide': (prodmenutitle.id != activeMenuId)}">
            Products
          </div>
          <div
            [ngClass]="{'submenushow': (ordermenutitle.id == activeMenuId) , 'submenuhide': (ordermenutitle.id != activeMenuId)}">
            Orders
          </div>
          <div
            [ngClass]="{'submenushow': (contactmenutitle.id == activeMenuId) , 'submenuhide': (contactmenutitle.id != activeMenuId)}">
            Clients
          </div>
          <div
            [ngClass]="{'submenushow': (datamenutitle.id == activeMenuId) , 'submenuhide': (datamenutitle.id != activeMenuId)}">
            Data
          </div>
        </div>
        <div class="sidebar-2-wrap">
          <div id="prod_menu" [ngClass]="{'submenushow': (prodmenutitle.id == activeMenuId) , 'submenuhide': (prodmenutitle.id != activeMenuId)}">

              <a [routerLink]="['product']">List</a>
              <a>Category</a>
              <a>Brand</a>
              <a>Tag</a>


          </div>

          <div id="order_menu" [ngClass]="{'submenushow': (ordermenutitle.id == activeMenuId) , 'submenuhide': (ordermenutitle.id != activeMenuId)}">

              <a>Order</a>
              <a>Manage</a>


          </div>

          <div id="contact_menu" [ngClass]="{'submenushow': (contactmenutitle.id == activeMenuId) , 'submenuhide': (contactmenutitle.id != activeMenuId)}">

            <a>Contacts</a>
            <a>Edit</a>


          </div>

        </div>
      </div>

    </div>

  </div>
</div>-->

